@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
         <img src="https://image.freepik.com/vector-gratis/torneo-futbol-soccer-logotipo-emblema-pelota-campeonato-estadio_22052-2505.jpg"    width="1500" height="500" />
         
</div>
<div class="text-center">
    <h1 class="display-4" position= "relative"  left="100px" top ="50px"  width="200" height="400" >Tornero de Futbol</h1>
   
</div>
<!--<div>
         <img src="https://img1.picmix.com/output/stamp/normal/4/1/4/3/523414_a0cf3.gif"  position= "relative" top ="80px"   width="200" height="400" />
         
</div>-->


