@page
@model TorneoDeFutbol.App.Frontend.Pages.Municipios.DetailsModel
@{
}
<h1>Listado Municipios</h1>
<table class="thead-dark">
    <tr>
      <th scope="col">NOMBRE</th>
      <td>@Model.municipio.Nombre</td>
     
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>

