@page
@model Torneo.App.Frontend.Pages.Municipios.IndexModel
@{
}

<div class="card mb-4 shadow bg-body rounded">
<div class="card-body text-primary fs-1 ">Listado municipios</div>
</div>
<div class="card-body">
<table class="table table-bordered">
  <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
      
     </tr>
  </thead>
  <tbody>
      @foreach (var municipio in Model.municipios)
      {
           <tr>
                <th>@municipio.Nombre</th>
                 <td>
                  <a class="btn btn-primary" asp-page="./Details" asp-route-id="@municipio.Id">Detalle</a>
                  <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@municipio.Id">Modificar</a>
                <td>
               
           </tr>
      }
  </tbody>
</table>
<a class="btn btn-primary" asp-page="./Create">Nuevo municipio</a>
</div>