@page
@model TorneoDeFutbol.App.Frontend.Pages.MarcadoresFinales.EditModel
@{
}
<div class="card">
    <div class="card-header">
        <h1>Editar marcador final</h1>
    </div>
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="marcadorFinal.Id" />
            <div class="form-group">
                <label asp-for="marcadorFinal.EquipoGanador"></label>
                <input asp-for="marcadorFinal.EquipoGanador" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="marcadorFinal.MarcadorGanador"></label>
                <input asp-for="marcadorFinal.MarcadorGanador" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="marcadorFinal.EquipoPerdedor"></label>
                <input asp-for="marcadorFinal.EquipoPerdedor" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="marcadorFinal.MarcadorPerdedor"></label>
                <input asp-for="marcadorFinal.MarcadorPerdedor" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>

        </form>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" asp-page="./Index">Volver</a>
    </div>
