@page
@using TorneoDeFutbol.App.Dominio
@model TorneoDeFutbol.App.Frontend.Pages.DirectoresTecnicos.CreateModel
@{
}
<h1>Nuevo directorTecnico</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="directorTecnico.Nombre"></label>
        <input asp-for="directorTecnico.Nombre" class="form-control">
        <span asp-validation-for="directorTecnico.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="directorTecnico.Documento"></label>
        <input asp-for="directorTecnico.Documento" class="form-control">
        <span asp-validation-for="directorTecnico.Documento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="directorTecnico.NumeroTelefono"></label>
        <input asp-for="directorTecnico.NumeroTelefono" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Crear directorTecnico</button>
</form>
<a asp-page="./Index" class="btn btn-secondary">Volver</a>