@page
@using TorneoDeFutbol.App.Dominio
@model TorneoDeFutbol.App.Frontend.Pages.Jugadores.createModel
@{
}
<h1>Nuevo Jugador</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="jugador.Nombre"></label>
        <input asp-for="jugador.Nombre" class="form-control">
    </div>
     <div class="form-group">
        <label asp-for="jugador.Numero"></label>
        <input asp-for="jugador.Numero" class="form-control">
    </div>
     <div class="form-group">
        <label asp-for="jugador.Posicion"></label>
        <input asp-for="jugador.Posicion" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Crear Jugador</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>

