@page
@model TorneoDeFutbol.App.Frontend.Pages.Estadios.IndexModel
@{
}
<div class="card mb-4 shadow bg-body rounded">
    <div class="card-body text-primary fs-1 ">Listado De Estadios</div>
</div>
<a class="btn btn-primary" asp-page="./Create">Nuevo Estadio</a>
<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estadio in Model.estadios)
            {
                <tr>
                    <td>@estadio.Nombre</td>
                    <td>@estadio.Direccion</td>
                    <td class="d-flex justify-content-around">
                        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@estadio.Id">Detalle</a>
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@estadio.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>