@page
@model TorneoDeFutbol.App.Frontend.Pages.Equipos.DetailsModel
@{
}
<h1>Detalles del equipo</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.equipo.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Director Tecnico</th>
        <td>@Model.equipo.DirectorTecnicoId</td>
    </tr>
    <tr>
        <th scope="col">Municipio</th>
        <td>@Model.equipo.MunicipioId</td>
    </tr> 
    <!--<tr>
        <th scope="col">Jugadores</th>
        <td>@Model.equipo.Jugador</td>
    </tr>-->   
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>
